
<label>
  Serverio pavadinimas
</label>

<!--
<input type="text" class="form-control" 
      (input)="onUpdateServer($event)" >
-->

<input
  placeholder="add new server"
  type="text"
  class="form-control" 
  [(ngModel)]="serverName"
>

<p>
  <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">
    Prideti serveri
  </button>
</p>

<!-- <p [innerText]="allowNewServer"></p> 
 
  <p>{{serverCreationStatus}}</p>

<p>{{ serverName }}</p>
-->
<p *ngIf="serverCreated">
  Serveris sukurtas, jo pavadinimas {{serverName}} ;
</p>
<p *ngIf="servers.length === 0">
    Ner servewriu
</p>
<div class="list">
  <p
    *ngFor="let server of servers"
    [ngClass]="{'online':getServerStatus(server)}"  
  >
    serveris su id {{server.id}} yra {{getServerStatus(server)}} {{server.name}}
    <button (click)="onTaskRemove(server.id)">
      x
    </button>
  </p>  
</div>
