html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: rgb(52,58,64);
}

#map {
    height: 100vh;
}

html{
    margin: 0;
    padding: 0;
}

.bg-primary 
{
    background-color:rgb(52,58,64) ;
}
   
.bg-circle   
{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
}
   
.bg-circle-outline{
    width: 50px;
    height: 50px;
    color: smoke;
    padding: 8px 2px;
    border: 2px solid;
    border-color: smoke;
    border-radius: 50%;
}
   
   
.bg-circle a, a:hover, .media a:focus
{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}

.bg-circle-outline a, a:hover, .media a:focus
{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
} 
 
.footer 
{ 
    background:rgb(52,58,64);
    height: auto;
    padding-bottom: 0px;
    margin-top: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p 
{
    margin: 1px;
    padding: 1px;
}

.footer img {
    max-width: 100%;
}

.footer h3 
{
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
}

.footer ul 
{
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.footer ul li a 
{
    padding: 0 0 5px 0;
    display: block;
}

.footer a {
    color: #78828D;
} 
 
.logo-position{
    text-align: right;
}
 
.formated{

    display: flex;
    justify-content: center;   
     
 }
 
 .main{
     margin-top: 1em;
     margin-bottom: 1em;
 }
 
 h1.title { 
    font-size: 50px;
    font-family: 'Passion One', cursive; 
    font-weight: 400; 
 }
 
 hr{
    width: 10%;
    color: #fff;
 }
 
 .form-group{
    margin-bottom: 15px;
 }
 
 label{
    margin-bottom: 15px;
 }
 
 input,
 input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
 }
 
 .main-login{
     background-color: #fff;
    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
 }
 
 .main-center{
    margin-top: 1em;
    padding: 1em 1em;
    width: 20vw;
 
 }
 
 .login-button{
    margin-top: 1em;
 }
 
 .login-register{
    font-size: 11px;
    text-align: center;
 }
 
 .input-group-addon{
    margin-top: 0.5em;
    margin-right: 0.5em;
}
 
 
    h1.title { 
      font-size: 50px;
      font-family: 'Passion One', cursive; 
      font-weight: 400; 
    }
    
    hr{
      width: 10%;
      color: #fff;
    }
    
    .form-group{
      margin-bottom: 15px;
    }
    
    label{
      margin-bottom: 15px;
    }
    
    input,
    input::-webkit-input-placeholder {
      font-size: 11px;
      padding-top: 3px;
      
    }
    
    .main-login{
       background-color: #fff;
      
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
    
    .main-center{
      margin-top: 1em;
      padding: 1em 1em;
      width: 20vw;
    
    }
    
    .login-button{
      margin-top: 1em;
    }
    
    .login-register{
      font-size: 11px;
      text-align: center;
    }
    
    .input-group-addon{
      margin-top: 0.5em;
      margin-right: 0.5em;
    }


    /*-----------------------------------------------------------------*/

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}







