html {
    height: 100%;
    background: black;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background: blue;
}

#map {
    height: 100%;
}

#map {
    height: 100%;
}

html{
    margin: 0;
    padding: 0;
}