body{
    color: brown;
    background-color: blue;
}

.jumbotron{
    background-image: url('https://images.pexels.com/photos/5865/healthy-spring-young-green-5865.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    height: 55vh;
    margin: 0;
    
}

.card{
    background-color: silver;
    margin: 25px;
    padding: 25px;
}

footer{
    padding: 20px;
}

#straipsnis h3{
    color: black;
    text-align: center;
}

#navigation{
    
    
}