<p class="mapbody">
  map doesnt work!
</p>
  
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  <script src='https://www.bing.com/api/maps/mapcontrol?key=AmQVHuojATmRiCmfMxmj9mAdYUe_xYCqcR90NmxKhJAS89eKDcICQY-tkkKXRNkx '></script>
  <script>
          var map;
          function loadMapScenario() {
              map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
          }                
  </script>

<div class="mapbody" onload='loadMapScenario();'>
  <div id='printoutPanel'>dsxvs</div>  
  <div id='myMap' style='width: 100vw; height: 100vh;'></div>
</div>

